:root{
    --blue: rgb(37, 138, 185);
    --greish: rgb(235, 235, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
}     

h1{
    font-family: "Satisfy", cursive;
    font-weight: 800;
    font-style: normal;   
    font-size: 300%;  
}
.imageProd{
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: 300px;
}

div.product > button {
    background-color: var(--blue);
}

header {
    background-color: var(--blue);
    padding: 2%;
    text-align: center;
    margin-bottom: -5%;
}

.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10%;
}

.product{
    background-color: var(--greish);
    height: auto;
    max-width: 100%;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column; /* o row si los elementos están en línea horizontal */
    gap: 10px; 
    padding: 5%;
    justify-content: center;
    text-align: center;
    overflow: auto;
}

.material-symbols-outlined.con-productos::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}